# 数据库
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=work_hub
POSTGRES_PASSWORD=work_hub
POSTGRES_NAME=work_hub

# 业务服务
BUSINESS_PORT=8200
BUSINESS_POSTGRE_SCHEMA=public
BUSINESS_SESSION_SECRET=BUSINESS_SESSION_SECRET